*{
    font-family: "Poppins", sans-serif;
}
.inter{
    font-family: "Inter", sans-serif;
}
.h2{
    font-size: 56px;
    font-weight: bold;
}

.p{
    color: #4E4E4E;
}



.navbar{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.hero{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #FEEAE9;
    padding: 49px;
    margin-top: 49px;
    border-radius: 16px;
}

.hero h3{
    color: #FF136F;
    font-size: 41px;
    margin-bottom: 8px;
}

.hero button{
    color: white;
    background: linear-gradient(to top, #FF589B, #FF136F);
    padding: 14px 45px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}


