*{
    font-family: "Poppins", sans-serif;
}
.inter{
    font-family: "Inter", sans-serif;
}
.h2{
    font-size: 56px;
    font-weight: bold;
}

.p{
    color: #4E4E4E;
}
.black-btn{
    background: black;
    color: white;
    padding: 16px 28px;
    font-weight: 600;
    border-radius: 8px;
}


.navbar{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.hero{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #FEEAE9;
    /* padding: 49px; */
    margin-top: 49px;
    border-radius: 16px;
}
.left{
    padding: 49px;
}
.right{
    padding: 49px;
}

.hero h3{
    color: #FF136F;
    font-size: 41px;
    margin-bottom: 8px;
}

.hero button{
    color: white;
    background: linear-gradient(to top, #FF589B, #FF136F);
    padding: 14px 45px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}

.categories{
    width: 80%;
    margin: auto;
}
.categories h3{
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
}
.items{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.watch{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 66px;
    background: #FF9C35;
    border-radius: 12px;
}
.watch h4{
    color: white;
    font-size: 36px;
    font-weight: 600;  
}
.bag h4{
    color: white;
    font-size: 36px;
    font-weight: 600;  
}
.shoe h4{
    color: white;
    font-size: 36px;
    font-weight: 600;  
}
.watch img{
    width: 88.21;
    height: 110px;
}
.bag img{
    width: 88.21;
    height: 110px;
}
.shoe img{
    width: 88.21;
    height: 110px;
}


.bag{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 66px;
    background: #FF136F;
    border-radius: 12px;
}
.shoe{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 66px;
    background: #3F07F8;
    border-radius: 12px;
}

.shoes{
    width: 80%;
    margin: auto;
}
.shoes h3{
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
}
.shoe-1{
    border: 2px solid #929292;
    padding: 31px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.192);
}
.shoe-1 h4{
    font-size: 24px;
    font-weight: 600;
}
.cards{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}