* {
  font-family: "Poppins", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
.h2 {
  font-size: 56px;
  font-weight: bold;
}

.p {
  color: #4e4e4e;
}
.black-btn {
  background: black;
  color: white;
  padding: 16px 28px;
  font-weight: 600;
  border-radius: 8px;
}

.navbar {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.hero {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: #feeae9;
  /* padding: 49px; */
  margin-top: 49px;
  border-radius: 16px;
}
.left {
  padding: 49px;
}
.right {
  padding: 49px;
}

.hero h3 {
  color: #ff136f;
  font-size: 41px;
  margin-bottom: 8px;
}

.hero button {
  color: white;
  background: linear-gradient(to top, #ff589b, #ff136f);
  padding: 14px 45px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
}

.categories {
  width: 80%;
  margin: auto;
}
.categories h3 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}
.items {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.watch {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5px 66px;
  background: #ff9c35;
  border-radius: 12px;
}
.watch h4 {
  color: white;
  font-size: 36px;
  font-weight: 600;
}
.bag h4 {
  color: white;
  font-size: 36px;
  font-weight: 600;
}
.shoe h4 {
  color: white;
  font-size: 36px;
  font-weight: 600;
}
.watch img {
  width: 88.21;
  height: 110px;
}
.bag img {
  width: 88.21;
  height: 110px;
}
.shoe img {
  width: 88.21;
  height: 110px;
}

.bag {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5px 66px;
  background: #ff136f;
  border-radius: 12px;
}
.shoe {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5px 66px;
  background: #3f07f8;
  border-radius: 12px;
}

.shoes {
  width: 80%;
  margin: auto;
}
.shoes h3 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}
.shoe-1 {
  border: 2px solid #929292;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.192);
}
.shoe-1 h4 {
  font-size: 24px;
  font-weight: 600;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.subscribe {
  width: 80%;
  margin: auto;
  margin-top: 169px;
  background: #f2e6e6;
  padding: 144px 0;
  text-align: center;
}

.subscribe h2 {
  font-size: 30px;
  margin-bottom: 4px;
  font-weight: 600;
}
.subscribe p {
  font-weight: 600;
}

.subscribe-box {
  display: flex;
  justify-content: center;
}

.subscribe-box input {
  width: 400px;
  font-size: 24px;
  padding: 22px;
  border: none;
  outline: none;
  background: white;
  border-radius: 6px 0 0 6px;
}
.subscribe-box input::placeholder {
  color: #cccccc;
}

.subscribe-box button {
  padding: 21px 48px;
  border: none;
  font-size: 24px;
  background: linear-gradient(to top, #ff136f, #ff589b);
  color: white;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}


@media screen and (max-width: 1200px) {
  .h2 {
    font-size: 40px;
  }

  .hero h3 {
    font-size: 32px;
  }
  .cards {
    align-items: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 992px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .categories {
    flex-wrap: wrap;
  }
  .items {
    flex-wrap: wrap;
  }
  .watch,
  .bag,
  .shoe {
    flex-wrap: wrap;
  }

  .cards {
    flex-direction: column;
  }
  .subscribe-box input {
    width: 250px;
    font-size: 18px;
  }

  .subscribe-box button {
    font-size: 18px;
    padding: 18px 30px;
  }
}

@media screen and (max-width: 640px) {
  .navbar {
    width: 100%;
  }

  .hero {
    width: 100%;
  }

  .categories {
    width: 100%;
  }

  .items {
    flex-direction: column;
  }

  .watch,
  .bag,
  .shoe {
    width: 100%;
    padding: 2px;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .watch,
  .bag,
  .shoe img{
    width: 100%;
  }
  .shoes {
    width: 100%;
  }
  .shoe-1 img{
    width: 100%;
  }

  .cards {
    flex-direction: column;
    padding: 2px;
  }

  .subscribe {
    padding: 80px 20px;
    text-align: center;
  }

  .subscribe-box {
    flex-direction: column;
    gap: 10px;
  }

  .subscribe-box input {
    border-radius: 6px;
    width: 100%;
  }

  .subscribe-box button {
    border-radius: 6px;
    width: 100%;
  }
  .right img{
    width: 100%;
  }
  .subscribe-box input {
  font-size: 14px;
  padding: 4px;
  }

}
